
<div id="main">
  <div id="map"></div>
  <div id="findme"><img src="location.svg"></div>
  <div id="mewspopup">
    <div id="popuptop">
      <div id="closepopup">X</div><h3>Name Mews</h3>
      </div>
            <div>
              <form id="form1" runat="server" enctype="multipart/form-data">

              <input id="inputPhoto" data-mews-id="" type="file" >
              </form>
              
              </div>
      <div id="images"><div>
  </div>
</div>
