
<div id="main">
  <div id="map"></div>
  <div id="findme"><img src="location.svg"></div>
  <div id="mewspopup">
    <div id="popuptop">
      <div id="closepopup">X</div><h3>Name Mews</h3>
      </div>
            <div><input id="inputPhoto" data-mews-id="" type="file"></div>
      <div id="images"><div>
  </div>
</div>
